<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">


<head>
    <title>Registration </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<header th:insert="blocks/header ::header"></header>

<form th:action="@{/registration}" method="post" th:object="${user}" class="col-md-3 offset-md-3">
    <div class="form-group" width="30%">
        <label for="username" >Username</label>
        <input type="text" class="form-control" th:field="*{username}" id="username" aria-describedby="usernameHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
    </div>

    <div class="form-group" width="30%">
        <label for="password">Password</label>
        <input type="password" class="form-control" th:field="*{password}" id="password" aria-describedby="passwordHelp">
        <small id="passwordHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>

    </div>

    <button type="submit" value="Register" class="btn btn-primary ">Register</button>

</form>


<footer th:insert="blocks/footer ::footer"></footer>
</body>
</html>